body {
  margin: 50px;
  background-color: #f0f0f0;
}
.card {
  border: 5px solid #1e3a8a;
  background-color: white;
  width: 300px;
  margin: auto;
  text-align: center;
}
.card img {
  padding: 20px;
  width: 150px;
  height: 150px;
}
.card h2 {
  padding: 10px 20px;
  margin: 0;
}
.card p {
  padding: 20px;
  margin: 0;
}